In [1]:
## Assignment4.1-Task2.1: Write a function to find moving average in an array over a window:
## Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

import numpy as np

mylist = [3,5,7,2,8,10,11,65,72,81,99,100,150]
N = 3
cum_sum=[0]
moving_avg =[]

def movingAverage(x,N):
    for i, x in enumerate(mylist, 1):
        cum_sum.append(cum_sum[i-1] + x)
        
        if i>=N:
            moving_value = (cum_sum[i] - cum_sum[i-N])/N
            moving_avg.append(moving_value)
    print(moving_avg)
            
movingAverage(mylist, 3)

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [3]:
## Assignment 4.1 - Task 2.1
## How-to-count-distance-to-the-previous-zero. For each value, count the difference back to the previous zero (or the start of the Series,
##whichever is closer) create a new column 'Y'. Consider a DataFrame df where there is an integer column 'X'
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
r = []
j=0

#Loop thru data frame
for i, row in df.iterrows():
    if row['X'] > 0:
        j+=1
    else:
        j=0
    r.append(j)     
df['Y'] = r
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [4]:
## Assignment4.1:Task2.2.2 - Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
## random numbers.

import pandas as pd
import numpy as np

# Find out the business days of 2015
b_day = pd.bdate_range('2015-01-01', '2015-12-31')

#Use business day of 2015 as index to a series of random numbers
bday_index = pd.Series(np.random.randn(len(b_day)), index=b_day)

print('Series of random numbers with date as index:\n')
print(bday_index)

Series of random numbers with date as index:

2015-01-01    0.580316
2015-01-02   -0.072030
2015-01-05    1.549145
2015-01-06    0.342254
2015-01-07   -0.177856
2015-01-08   -0.275431
2015-01-09   -0.818311
2015-01-12    0.866649
2015-01-13   -0.235161
2015-01-14    0.266787
2015-01-15    0.024731
2015-01-16   -0.045188
2015-01-19   -1.186425
2015-01-20   -0.766743
2015-01-21    0.156873
2015-01-22   -0.728037
2015-01-23    0.429107
2015-01-26   -2.027100
2015-01-27   -1.325664
2015-01-28   -1.020497
2015-01-29   -0.531324
2015-01-30   -1.696091
2015-02-02    1.435581
2015-02-03    0.387091
2015-02-04    0.296838
2015-02-05    0.293851
2015-02-06    0.028450
2015-02-09   -0.496186
2015-02-10   -0.883480
2015-02-11    0.477584
                ...
2015-11-20   -0.876926
2015-11-23   -0.308550
2015-11-24    0.215021
2015-11-25   -0.137969
2015-11-26    0.439638
2015-11-27    1.305872
2015-11-30   -0.034619
2015-12-01   -0.117539
2015-12-02   -0.026912
2015-12-03    0.092683
2015-12-04   -0.479196
2015-12-07    0.474579
2015-12-08   -0.184520
2015-12-09   -1.547208
2015-12-10   -0.694932
2015-12-11    0.016644
2015-12-14    1.302650
2015-12-15   -0.416517
2015-12-16    1.921294
2015-12-17   -0.184718
2015-12-18   -1.883872
2015-12-21   -0.302978
2015-12-22   -0.468163
2015-12-23    0.588482
2015-12-24   -0.108851
2015-12-25   -0.355724
2015-12-28   -0.244858
2015-12-29    0.265040
2015-12-30   -1.781295
2015-12-31    0.466985
Freq: B, Length: 261, dtype: float64

Average For each calendar month is:

        numbers
month
1      0.304377
2      0.228262
3      0.075338
4      0.004066
5     -0.075367
6      0.092744
7     -0.075766
8     -0.248987
9      0.118428
10     0.091472
11    -0.178517
12     0.040213

In [6]:
## Assignment4.1:Task2.2.3 - Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
## random numbers.
## Q3 - Find the sum of the values in s for every Wednesday

import pandas as pd
import numpy as np

# Find out the business days of 2015
b_day = pd.bdate_range('2015-01-01', '2015-12-31')

#Use business day of 2015 as index to a series of random numbers
bday_index = pd.Series(np.random.randn(len(b_day)), index=b_day)

df = pd.DataFrame({'numbers': np.random.randn(len(b_day)), 'dates': b_day})
totalValues_Wed = df[df['dates'].dt.weekday_name == 'Wednesday'].sum()

print("sum of the values in sequences for every Wednesday:\n")
print(totalValues_Wed)

sum of the values in sequences for every Wednesday:

numbers   -1.148445
dtype: float64

In [7]:
## Assignment4.1:Task2.2.4 - Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
## random numbers.
## Q4 - Average For each calendar month

import pandas as pd
import numpy as np

# Find out the business days of 2015
b_day = pd.bdate_range('2015-01-01', '2015-12-31')

#Use business day of 2015 as index to a series of random numbers
bday_index = pd.Series(np.random.randn(len(b_day)), index=b_day)

df = pd.DataFrame({'numbers': np.random.randn(len(b_day)), 'dates': b_day})
totalValues_Wed = df[df['dates'].dt.weekday_name == 'Wednesday'].sum()

##Average For each calendar month

# Set a new column of month of each dates
df['month'] = df['dates'].dt.month

# apply group by to select each calender month and then apply mean() to get the average of each month
avgCalenderMonth = df.groupby('month').mean()

# print the data
print('Average For each calendar month is:\n')
print(avgCalenderMonth)

Average For each calendar month is:

        numbers
month
1     -0.164913
2     -0.154797
3      0.281061
4     -0.276468
5      0.225374
6      0.013290
7      0.180953
8     -0.049632
9     -0.060220
10    -0.105705
11    -0.340430
12     0.110838

In [8]:
# Q5: For each group of four consecutive calendar months in s, find the date on which the
# highest value occurred.

# create group on consecutive 4 months
df['monthGrp'] = df['month'].apply(lambda x: np.floor((x/4)) - 1
                                   if x % 4 == 0 else np.floor((x/4)))
df2 = df.loc[df.groupby('monthGrp')['numbers'].idxmax()]
print(df2)

         dates   numbers  month  monthGrp
81  2015-04-24  2.570502      4       0.0
154 2015-08-05  2.271390      8       1.0
188 2015-09-22  2.433479      9       2.0